{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "21st-magic": {
      "command": ["npx", "-y", "@21st-dev/magic@latest"],
      "environment": {
        "API_KEY": "${21ST_API_KEY}"
      },
      "enabled": true
    }
  }
}
